<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .title }}</title>
	<link rel="icon" type="image/png" href="https://go.dev/favicon.ico" sizes="16x16" />
</head>
<body>
	<p align="center">
  		<a href="/swagger/index.html"><img src="public/assets/images/go-404.png" /></a>
	</p>
	<center>
		<h1>{{ .message }}</h1>
	</center>
</body>
</html>