<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .title }}</title>
	<link rel="icon" type="image/png" href="public/images/favicon.ico" sizes="16x16" />
</head>
<body>
	<p align="center">
  		<a href="/swagger-ui/index.html"><img src="public/images/macgover.png" /></a>
	</p>
	<center>
		<h1>Welcome to Macgover from {{ .hostname }}</h1>
		<h3>{{ .commit }}</h>
	</center>
</body>
</html>